*{
  margin:0;
}

.AppBody{
  display: flex;
}

::-webkit-scrollbar{
  width:8px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px whitesmoke;
}
::-webkit-scrollbar-thumb{
  background:rgba(0, 0, 0, 0.12);
}
